*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  background: linear-gradient(to top, rgb(243, 151, 235) 50%,  rgb(243, 151, 235) 50% );
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar{
 width: 1200px;
 height: 75px;
 margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: blueviolet;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;

}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: dashed;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold ;
  transition: 0.4s ease-in-out;

}

ul li a:hover{
  color: blueviolet;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid purple;
  margin-top: 13px;
  color: blueviolet;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: blueviolet;
  border: 2px solid blueviolet;
  margin-top: 11px;
  color: rgb(224, 213, 213);
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}

.content{
  width: 200px;
  height: auto;
  margin: auto;
  color: blueviolet;
  position: relative;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 5%;
  initial-letter: 2px;
}

.content .cn{
  width: 160px;
  height: 40px;
  background: blueviolet;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: .4s ease;
}

.content .cn a{
  text-decoration: none;
  color: black;
  transition: .3 ease;
}

.cn:hover{
  background-color: whitesmoke;
}

.content span{
  color: black;
  font-size: 60px;

}

.form{
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, blueviolet 50%,  blueviolet 50% );
  position: absolute;
  top: 50px;
  left: 800px;
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-size: 22px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
}

::placeholder{
  color: whitesmoke;
}
.btnn{
  width: 240px;
  height: 40px;
  background: wheat;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 15px;
  cursor: pointer;
  color: brown;
  transition: .4s ease;
}

.btnn:hover{
  background: white;
  color: blueviolet;
}

.btnn a{
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a{
  text-decoration: none;
  color: white;
}